@model Feature
<div class="container">
    <form method="post">
        <div class="mb-3">
            <label asp-for="@Model.ImageUrl" class="form-label">ImageUrl</label>
            <input asp-for="@Model.ImageUrl" type="text" class="form-control">
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Title" class="form-label">Title</label>
            <input asp-for="Title" type="text" class="form-control">
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Description" class="form-label">Description</label>
            <input asp-for="Description" type="text" class="form-control" >
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>